@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #1C2B32;
}

h1, h2{
    text-align: center;
    color: #1C2B32;
}

h2{
    margin: 50px;
}

input,
button {
    font-family: inherit;
}

a,
a:link,
a:visited {
    color: #899CA0;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: top;
}

.hero-content {
    padding: 150px 0 400px 0;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.hero-title{
    font-size: 120px;
    font-weight: bold;
}

.hero-subtitle{
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}

.hero-input{
    margin-top: 32px;
    background-color: transparent;
    color: #1C2B32;
    font-size: 18px;
    padding: 24px 32px;
    width: 350px;
    border: 2px solid #1C2B32;
    border-radius: 50px 0 0 50px;
    outline: transparent;
}

.hero-input::placeholder {
    color: #1C2B32;
    font-size: 18px;
}

.hero-btn{
    background-color: #1C2B32;
    color: #ffffff;
    font-size: 18px;
    padding: 24px 32px;
    border: 2px solid #1C2B32;
    border-radius: 0 50px 50px 0;
    outline: none;
    margin-left: -7px;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

.testimonials {
    margin: 64px 0;
}

.testimonials-article {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(28, 43, 50, 0.25);
    padding: 50px 150px 50px 150px;
    margin: 64px 0;
}

.testimonials-quote {
    margin-bottom: 32px;
}

.testimonials-quote-icon {
    position: absolute;
    left: 100px;
    top: 64px;
}

.testimonials-avatar {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.testimonials-name {
    display: inline;
    margin-left: 24px;
    font-style: italic;
}

.contact-img{
    width: 100%;
    border-radius: 10px;
}

.contact-info {
    margin: 24px 0;
}


.contact-btn{
    color: #ffffff;
    background: #1C2B32;
    padding: 24px 32px;
    font-size: 14px;
    border: 2px solid #1C2B32;
    border-radius: 50px;
    outline: none;
}

summary{
    margin: 20px;
    cursor: pointer;
}

details > p{
    background-color: #899CA0;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
}

footer{
    background-color: #1C2B32;
    padding: 30px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}